*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(220, 254, 220);
}
header{
    text-align: center;
    padding: 32px 0;
}
h1{
    font-size: 45px;
}
section{
    margin-bottom: 24px;
}
span{
    color: #7d4100;
}
ul{
    list-style: none;
}
ul li{
    margin-bottom: 16px;
    display: flex;
}
li .detalhes{
    max-width: 240px;
}
header, section{
    max-width: 300px;
    margin: 0 auto;
}
section h2{
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;

    margin-bottom: 24px;
}
h1,h2, h3, strong{
    font-family: 'Roboto Serif';
    text-transform: uppercase;
}
p{
    font-family: 'Roboto';
    opacity: 0.8;
}